main {
  padding: 6rem 4rem;
  background: linear-gradient(to right, var(--color-1), var(--color-1));
  color: var(--color-8);
  border-radius: 1rem 0 0 0;

  min-height: calc(100vh - 4rem);

  /* display: flex;
  justify-content: center; */
}

.blurred{
  filter: blur(30px);
}

.mainContent{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

.meal {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  height: 450px;

  box-shadow: -1rem -1rem 3rem black;
  border-radius: 1rem;
  background: var(--bg-color);
  z-index: 1;
}

/* .meal-container:not(.first-column){
    margin-left: -2rem;
}
.meal-container:not(.first-row){
    margin-top: -2rem;
}  */
/* .meal-container:hover{
    transform: translateY(-2rem);
}
.meal-container:hover ~ .meal-container{
    transform: translate(5rem, 5rem);
    
} */

.header {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  border-radius: inherit;
}

.header img {
  width: calc(100% - 2rem);
  height: 70%;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
}

.mealLabel {
  width: 80%;
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-color);
  opacity: 0.75;
}

.meal:hover .mealLabel {
  background: linear-gradient(90deg, orange, red);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

.addButton,
.deleteButton {
  margin: 0.5rem 0 0;
  width: 80%;
  padding: 0.5rem;
  border-radius: 2rem;
  background: none;
  border: solid 2px var(--border-color);
  color: var(--border-color);
  opacity: 0.75;
  font-size: 1rem;
  font-weight: 500;
}

.buttonContainer {
  display: flex;
  width: 80%;
  justify-content: center;
}

.infoButton,
.editButton,
.backButton,
.confirmButton,
.cancelButton,
.editImageButton,
.editUnitButton {
  flex: 1;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 1rem;
  background: none;
  border: solid 2px var(--border-color);
  color: var(--border-color);
  opacity: 0.75;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.infoButton,
.backButton,
.editImageButton,
.confirmButton {
  margin-left: 0;
}

.editButton,
.editUnitButton,
.cancelButton {
  margin-right: 0;
}

.meal button:hover {
  border-color: var(--main-color);
  background: linear-gradient(90deg, orange, red);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}



/* INFO VIEW */
.macroTable {
  width: 80%;
  color: white;
  border-collapse: collapse;
  font-size: 0.8rem;
  margin-top: 2rem;
}

/* First row of thead: */
.macroTable thead th {
  padding-bottom: 1rem !important;
  font-weight: 500;
  letter-spacing: 1px;
}

/* First row of thead, first column: */
.macroTable thead th:first-child {
  text-align: left;
  border-bottom: #f79211 solid 2px;
  width: 50%;
}

/* First row of thead, second column: */
.macroTable thead th:nth-child(2) {
  text-align: right;
  border-bottom: #f79211 solid 2px;
  width: 50%;
}

/* First row of the tbody:  */
.macroTable tr:first-child td {
  padding-top: 1rem !important;
}

/* .macroTable tr{
  margin: 0;
  padding: 0;
  height: 1rem;
} */

.macroTable th,
.macroTable td {
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0 0.5rem;
}

.infoView.macroTable th,
.infoView.macroTable td {
  padding: 4px 0.5rem;
}

/* Every data element in second column: */
.macroTable td:nth-child(2) {
  text-align: center;
}


/* EDIT VIEW */
.deleteButton {
  margin: 0.5rem 0 1rem;
}

.confirmButton,
.cancelButton {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.editImageButton,
.editUnitButton {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.editViewInput {
  color: var(--border-color);
  font-family: ubuntu, arial;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
  background: none;
  padding: 0.2rem 0;
  width: 100px;
  border: solid 2px rgba(255, 255, 255, 0);

  margin: 0;
  height: 1rem;
  box-sizing: content-box;
  
}

.editViewInput:focus-within {
  outline: none;
  color: white;
  font-family: ubuntu, arial;
  font-weight: 300;
  border: solid 2px var(--border-color);
  border-radius: 1rem;
  padding: 0.2rem 0;
}