:root {
  --navbar-height: 4rem;
  --sidebar-width: 16rem;

  --color-1: #313338;
  --color-2: #2b2d31;
  --color-3: #1e1f22;
  --color-4: #b5bac1;
  --color-5: #731fa1;
  --color-6: #c797e4;
  --color-7: #f79211;
  --color-8: white;
  --color-9: #17141d;
  --color-10: #7a7a8c;

  --bg-color: var(--color-3);
  --main-color: var(--color-7);
  --txt-color: var(--color-8);
  --secondary-color: var(--color-10);
  --border-color: #7a7a8c;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  /* box-sizing: border-box; */
  padding-top: var(--navbar-height);
  padding-left: var(--sidebar-width);
  margin: 0 auto;
  background-color: var(--bg-color);
  position: relative;
  color: var(--txt-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}